# Button component

Here is an example:

```svelte preview
<script>
    import Button from '$lib/Button.svelte'
    let label = "hello"
    label = `${label} world`
</script>

<Button text={`Loading... ${label}`}>{label}</Button>

```
